<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Un conseil à été soumis à votre validation par <%= @article.author_name %></h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, fugiat numquam, reprehenderit tenetur, dolorem laudantium natus praesentium nostrum eos impedit necessitatibus dolorum, recusandae autem et!<br>
    </p>
    <p>
      Voir le conseil: <%#= @url %>.
    </p>
  </body>
</html>
