<div class="container-fluid">
  <div class="row">
    <div class="container filter-wrapper col-3">
      <%= render "filter" %>
    </div>
    <div class="translate-nav articles-wrapper col-12 col-md-9">
      <div class="row">
        <div class="col-12 content-left justify-content-center">
          <div class="articles-container row">
            <div id="articles-list">
              <%= render 'articles_list', articles: @articles %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 content-right">
        <div class="top-articles">
          <h4 class="text-center"><strong>Les top articles</strong></h4>
          <ul class="list-unstyled">
            <% @top_articles.each do |article| %>
              <li class="top-article"><%= link_to article.title, article_path(article) %></li>
            <% end %>
          </ul>
        </div>
        <div class="newsletter-block">

        </div>
      </div>
    </div>
  </div>
</div>