<div class="container">
  <div class="row">
    <div class="col-4 filter-wrapper" id="filter">
      <%= render "filter" %>
    </div>
    <div class="col-12 col-lg-8 articles-wrapper">
      <div id="articles-list">
        <%= render 'shared/articles_list', articles: @articles %>
      </div>
    </div>
  </div>
</div>
