<div class="container-fluid">
  <div class="row">
    <div class="container filter-wrapper col-3">
      <%= render "filter" %>
    </div>
    <div class="translate-nav articles-wrapper col-12 col-md-9">
      <div class="row">
        <div class="col-12 content-left justify-content-center">
          <div class="articles-container row">
            <div id="articles-list">
              <%= render 'articles_list', articles: @articles %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>