<div class="index-wrapper">

    <div class="container filter-wrapper">
      <%= render "filter" %>
    </div>

    <div class="articles-wrapper">
      <div id="articles-list">
        <%= render 'articles_list', articles: @articles %>
      </div>
    </div>


</div>
