<div class="articles-wrapper">
  <%= render "filter" %>

  <div class="container translate-nav page-container">
    <div class="row">
      <div class="col-xs-12 col-md-9 content-left">
        <div class="articles-nav row">
          <ul class="articles-nav-list">
            <li class="articles-nav-item">
              <div class="article-nav-item-content-wrapper">
                <div class="article-nav-item-content-container">
                  Fiches
                </div>
              </div>
            </li>
            <li class="articles-nav-item">
              <div class="article-nav-item-content-wrapper">
                <div class="article-nav-item-content-container">
                  Conseils
                </div>
              </div>
            </li>
            <li class="articles-nav-item">
              <div class="article-nav-item-content-wrapper">
                <div class="article-nav-item-content-container">
                  Marques
                </div>
              </div>
            </li>
            <li class="articles-nav-item">
              <div class="article-nav-item-content-wrapper">
                <div class="article-nav-item-content-container">
                  Boutique
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="articles-container row">

          <div class="articles-header">
            <h2>Articles à la une !</h2>
          </div>

          <div id="articles-list">
            <%= render 'articles_section', articles: @articles %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
