<div class="dashboard-header">
  <div class="dashboard-header-content">
    <% if current_user.is_admin? %>
      <h1>Mon Profil Admin</h1>
    <% else %>
      <h1>Mon Profil Editeur</h1>
    <% end %>
  </div>
</div>
<div class="container translate-nav py-5">
  <div class="form-content">
    <h2>Créer une marque</h2>
    <%= render "new_form", brand: @brand %>
  </div>
</div>
