<div class="row mb-5">
  <% brands.each_with_index do |brand, index| %>
    <div class="col-12 col-sm-6 col-md-4 card-container d-flex justify-content-center">
      <%= link_to brand_path(brand) do %>
        <div class="article-card brand-card">
          <%= image_tag url_for(brand.logo) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="pagination">
  <%= render 'shared/pagination', pagy: @pagy %>
</div>
