<footer class="container-fluid footer-main">
  <ul class="footer-list">
    <h5>Pêche</h5>
    <li class="footer-list-item">Kokoro</li>
    <li class="footer-list-item">Kokoro</li>
    <li class="footer-list-item">Kokoro</li>
  </ul>
  <ul class="footer-list">
    <h5>Pomme</h5>
     <li class="footer-list-item">Kokoro</li>
    <li class="footer-list-item">Kokoro</li>
    <li class="footer-list-item">Kokoro</li>
  </ul>
  <ul class="footer-list">
    <h5>Poire</h5>
     <li class="footer-list-item">Kokoro</li>
    <li class="footer-list-item">Kokoro</li>
    <li class="footer-list-item">Kokoro</li>
  </ul>
  <ul class="footer-list">
    <h5>Abricot</h5>
     <li class="footer-list-item">Kokoro</li>
    <li class="footer-list-item">Kokoro</li>
    <li class="footer-list-item">Kokoro</li>
  </ul>
</footer>
