<div class="articles-nav row">
  <ul class="articles-nav-list">
    <li class="articles-nav-item">
      <div class="article-nav-item-content-wrapper">
        <div class="article-nav-item-content-container">
          <%= link_to "Fiches", fiches_path %>
        </div>
      </div>
    </li>
    <li class="articles-nav-item">
      <div class="article-nav-item-content-wrapper">
        <div class="article-nav-item-content-container">
          Conseils
        </div>
      </div>
    </li>
    <li class="articles-nav-item">
      <div class="article-nav-item-content-wrapper">
        <div class="article-nav-item-content-container">
          Marques
        </div>
      </div>
    </li>
    <li class="articles-nav-item">
      <div class="article-nav-item-content-wrapper">
        <div class="article-nav-item-content-container">
          Boutique
        </div>
      </div>
    </li>
  </ul>
</div>