<div class="articles-wrapper">
  <div class="container page-container">
    <div class="row">
      <div class="col-12 col-lg-9">
        <div class="articles-container row">
          <div class="articles-header">
            <h2>À la une !</h2>
          </div>
          <div id="articles-list" class="home-articles-list">
            <%= render 'articles_list', articles: @articles %>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 content-right">
        <div class="top-articles">
          <h4 class="top-articles-title">Les top articles</h4>
          <ul class="ul-top-articles">
            <% @top_articles.each do |article| %>
              <li class="top-article"><%= link_to article.title, article_path(article) %></li>
            <% end %>
          </ul>
        </div>
        <div class="newsletter-block">
          <%= render 'news_letter_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
