document.querySelector('#newsletter_email').value= ''

<% if @status == 'Vous êtes maintenant abonné' %>
  document.querySelector('.status').innerHTML = "<span class='alert-success'><%= @status %></span>"
<% else %>
  document.querySelector('.status').innerHTML = "<span class='alert-danger'><%= @status %></span>"
<% end %>
