<div class="error-container">
  <h4 class="error-text">
    OUPS... LA PAGE DEMANDÉE N’A PAS ÉTÉ TROUVÉE... C’ÉTAIT À UN POIL PRÈS !
  </h4>
  <button class="error-button"><a href="https://www.media.petch.fr">Retour à l'accueil</a></button>
</div>