<div class="dashboard-articles">
  <% articles.each do |article| %>
    <div id="article-<%= article.id %>">
      <%= render 'dashboard_article_card', article: article %>
    </div>
  <% end %>
  <hr>
  <div class="pagination">
    <%= render 'shared/pagination', pagy: @pagy %>
  </div>
</div>
