<div class="dashboard-wrapper">
  <div class="dashboard-header">
    <div class="dashboard-header-content">
      <h1>Mon Profil Editeur</h1>
    </div>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Mon Profile</a>
        <a class="nav-item nav-link active" id="nav-articles-tab" data-toggle="tab" href="#nav-articles" role="tab" aria-controls="nav-articles" aria-selected="true">Mes Conseils</a>
        <a class="nav-item nav-link" id="nav-write-tab" data-toggle="tab" href="#nav-write" role="tab" aria-controls="nav-write" aria-selected="false">Ecrire du contenu</a>
      </div>
    </nav>
  </div>

  <div class="container pt-5">
    <div class="tab-content" id="nav-tabContent">
      <%= render "nav_articles_tab" %>
      <%= render "nav_profile_tab" %>
      <%= render "nav_write_tab" %>
    </div>
  </div>
</div>
