<%= simple_form_for([brand, product], url: admin_brand_products_path(brand), method: :post, remote: true) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-9" style="display: flex; align-items: center;">
      <%= f.input :name, input_html: { id: "name-#{brand.id}" }, label: false, placeholder: 'Nom du produit' %>
    </div>
    <div class="col-3" style="display: flex; align-items: center;">
      <%= f.input :thumbnail, input_html: { id: "thumbnail-#{brand.id}" }, label: '+' %>
    </div>
  </div>
  <button type="submit" class="petch-btn modal-btn" data-disable-with="<i class='fas fa-spinner fa-spin'></i>">Creer un produit</button>
<% end %>
