<%= simple_form_for(card) do |f| %>
  <%= f.input :animal, collection: Card::ANIMAL %>
  <%= f.submit id: 'real-submit', class: 'd-none' %>
  <button id="fake-submit" class="btn btn-primary">Submit</button>
<% end %>
