<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 filter-wrapper">
      <%= render "filter" %>
    </div>
    <div class="col-12 col-lg-8 articles-wrapper">
      <div id="articles-list">
        <%= render 'shared/cards_list', cards: @cards %>
      </div>
    </div>
  </div>
</div>
