<div class="container">
  <div class="row">
    <div class="col-4 filter-wrapper">
      <%= render "filter" %>
    </div>
    <div class="col-12 col-md-8 articles-wrapper">
      <div id="articles-list">
        <%= render 'cards_list', cards: @cards %>
      </div>
    </div>
  </div>
</div>
