<div class="dashboard-header">
  <div class="dashboard-header-content">
    <% if current_user.is_admin? %>
      <h1>Mon Profil Admin</h1>
    <% else %>
      <h1>Mon Profil Editeur</h1>
    <% end %>
  </div>
</div>
<div class="container py-5">
  <div class="form-content">
    <%= render 'card_new_form', card: @card %>
  </div>
</div>
