@import "./rem";
@import "./variables";

.devise-form-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  .devise-small {
    width: 30vw;

    input {
      margin-top: rem(30px);
    }
  }

  .devise-large {
    margin-top: rem(30px);
    width: 50vw;

    .form-line {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: rem(30px);

      .form-group {
        width: 100%;
        margin-bottom: 0;
      }
    }

    .user_avatar {
      align-items: center;
      display: flex;
      justify-content: center;

      label {
        background-color: #fff;
        border: 2px solid $brand-orange;
        border-radius: 50%;
        color: $brand-orange;
        height: rem(80px);
        margin-bottom: 0;
        padding: rem(20px);
        width: rem(80px);

        &:hover {
          opacity: .8;
        }
      }
    }

    #user_last_name, #user_signature {
      margin-left: rem(10px);
    }

    #user_signature {
      width: calc(100% - 0.625rem);
    }
  }

  input {
    border: 1px solid $dark-grey;
    border-radius: rem(30px);
    padding: rem(25px) rem(20px);

    &:focus {
      border: none;
    }

    &.btn {
      background-color: $brand-orange;
      border: none;
      border-radius: rem(8px);
      margin-top: 0;
      padding: rem(10px) rem(30px);

      &:hover {
        opacity: .8;
      }
    }
  }

  .form-actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: rem(30px);

    .form-check {
      display: flex;
      padding-left: 0;

      input {
        margin: 0;
        padding: 0;
        position: relative;

      }
    }

    .user_remember_me {
      margin: 0;
      margin-right: rem(8px);
    }

    .remember-me {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .remember-me-label {
      font-weight: 100;
      font-size: rem(14px);
      font-style: italic;
    }
  }

  .devise-buttons {
    margin-top: rem(20px);
    a:hover {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: $sm) {
  .devise-small {
    width: 80vw !important;
  }

  .devise-large-wrapper {
    display: block;
    width: 100vw;

    .devise-large {
      margin: 0 auto;
      padding: rem(120px) 0 rem(50px) 0;
      width: 80vw !important;

      .form-line {
        margin-top: 0;
      }

      input {
        margin-top: rem(10px);
      }

      .user_avatar {
        margin-top: rem(10px);
        label {
          border-radius: rem(30px);
          display: block;
          height: auto;
          padding: rem(15px) rem(20px);
          text-align: left;
          width: 100%;
        }
      }

      .form-actions, .devise-buttons {
        justify-content: center;
      }

      .devise-buttons {
        display: flex;
      }

      #user_last_name, #user_signature {
        margin-left: 0;
      }

      #user_signature {
        width: 100%;
      }
    }
  }

  .form-line {
    display: block !important;
  }
}
