@import "./variables";
@import "./rem";

// REFACTO NEEDED

@media screen and (max-width: 992px) {
  .filter-wrapper {
    display: none !important;
  }
}

.filter-wrapper {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  background-color: white;

  .filter {
    width: 100%;
    position: sticky;
    height: calc(100vh - 120px);
    top: 128px;
    overflow: scroll;
  }

  i {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 2em;
    color: rgba(100, 100, 100, 0.3);
    cursor: pointer;
  }

  .filter-form {
    padding: 0px 30px 30px 30px;

    h5 {
      margin-bottom: 10px;
    }

    .animals-filter {
      margin-bottom: 15px;

      .form-check {
        @include animalIcon();
        padding-left: 0px;

        label {
          @include animalIcon();
          color: transparent;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(100, 100, 100, 0.3);
          position: relative;
          transition: all .2s ease-out;
          background-size: 70%;
          background-position: 50% 50%;
          background-repeat: no-repeat;

          i {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;

            &::before {
              position: absolute;
              transform: translate(-50%, -50%);
              top: 50%;
              left: 50%;
            }
          }

          &:hover {
            -webkit-box-shadow: 0px 1px 12px 0px rgba(255, 145, 115, 0.3);
            -moz-box-shadow: 0px 1px 12px 0px rgba(255, 145, 115, 0.3);
            box-shadow: 0px 1px 12px 0px rgba(255, 145, 115, 0.3);
          }
        }
      }
    }

    .themes-filter {
      margin-bottom: 15px;

      .form-check {
        display: flex;
        justify-content: flex-start;
        flex-direction: row-reverse;
        padding-left: 0px;

        .boolean {
          position: relative;
        }

        label {
          width: 100%;
          padding-left: 5px;
        }

        label::before {
          content: '';
          display: block;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          right: 0;
          width: 20px;
          height: 20px;
          border: 1px solid rgba(100, 100, 100, 0.3);
          border-radius: 100px;
          transition: background-color .2s;
          cursor: pointer;
        }

        .label-active::before {
          background-color: $brand-orange;
          -webkit-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);

          i {
            color: white;
          }
        }
      }
    }
  }
}

.filter-active {
  transform: translateX(0%);
  border-right: 1px solid rgba(200, 200, 200, 0.1);
  -webkit-box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.15);

  i {
    color: $brand-orange;
  }
}

.animals-filter {
  .icon-chien {
    input+label {
      cursor: pointer;
      background-image: image-url("icons/dog-black.png")
    }

    input:checked+label {
      background-image: image-url("icons/dog-white.png") !important;
    }
  }

  .icon-chat {
    input+label {
      cursor: pointer;
      background-image: image-url("icons/cat-black.png");
    }

    input:checked+label {
      background-image: image-url("icons/cat-white.png") !important;
    }
  }

  .icon-rongeur {
    input+label {
      cursor: pointer;
      background-image: image-url("icons/rodent-black.png");
    }

    input:checked+label {
      background-image: image-url("icons/rodent-white.png") !important;
    }
  }

  input:checked+label {
    background-color: $brand-orange;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.1);
  }
}

.themes-filter {
  input+label:before {
    cursor: pointer;
  }

  input:checked+label:before {
    background-color: $brand-orange;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);
  }
}

.tags-filter {
  padding-top: 15px;

  input+label {
    background-color: rgb(240, 240, 240);
    border-radius: rem(4px);
    color: $dark-grey;
    padding: rem(2px) rem(6px);
    cursor: pointer;
  }

  input:checked+label {
    background-color: $brand-orange;
    border-radius: rem(4px);
    color: rgba(255, 255, 255, 1);
    padding: rem(2px) rem(6px);
  }

  .masonry-tags {
    display: flex;
    flex-flow: wrap;
    align-items: center;
  }

  .masonry-tags span {
    width: auto;
    padding: 0px;
  }

  fieldset {
    margin-bottom: 5px;

    .form-check {
      padding: 0px 5px;
    }
  }
}

.filter-query {
  position: relative;

  i {
    font-size: 1.4rem;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 10px;
  }

  input:focus {
    outline: none !important;
  }
}