$brand-orange: #ff9173;
$light-grey: rgba(0, 0, 0, .1);
$medium-grey: rgba(0, 0, 0, .5);
$dark-grey: rgba(0, 0, 0, .8);
$other-grey: #D9D9D9;
$another-grey: #1d1b1b;
$full-black: #000;
$full-white: #fff;

$sm: 576px;
$md: 768px;

$animalSize: 50px;

@mixin animalIcon {
  height: $animalSize;
  width: $animalSize;
}