/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-share-button";
@import "./select2";
@import "./variables";
@import "./rem";

.translate-nav {
  transform: translateY(80px);
}

.nopadding {
  padding: 0px;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.petch-breadcrumb {
  font-size: rem(14px);

  a {
    color: $dark-grey;
    cursor: default;
    text-decoration: none;

    &:hover {
      color: $brand-orange;
    }
  }
}

.petch-btn {
  background-color: $brand-orange;
  color: white;
  padding: 10px 30px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: all .3s ease-out;

  &:hover {
    transform: translateY(-2px);
    -webkit-box-shadow: 1px 0px 20px 0px rgba(75, 75, 75, 0.1);
    -moz-box-shadow: 1px 0px 20px 0px rgba(75, 75, 75, 0.1);
    box-shadow: 1px 0px 20px 0px rgba(75, 75, 75, 0.1);
  }
}

.file {
  display: flex;
  justify-content: center;
  input {
    display: none;
  }
  label {
    background-color: $brand-orange;
    color: white;
    padding: 10px 30px;
    border-radius: 40px;
    cursor: pointer;
    abbr {
      display: none;
    }
  }
}

.pagination {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  span {
    padding: 0px 5px;
  }
  a {
    color: $dark-grey;
    &:hover {
      color: $medium-grey;
    }
  }
  .active {
    color: $dark-grey;
  }
}

.bold {
  font-weight: 700;
}
