/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-share-button";
@import "./select2";
@import "./variables";
@import "./rem";

body {
  font-family: 'Lato', sans-serif;
  padding-top: 96px;
}

h2 {
  color: $dark-grey;
  font-weight: 300;
  margin-bottom: rem(20px);
}

.translate-nav {
  transform: translateY(80px);
}

.nopadding {
  padding: 0px;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.petch-breadcrumb {
  margin-top: 25px;
  font-size: rem(14px);

  a {
    color: $dark-grey;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $brand-orange;
    }
  }
}

.petch-btn {
  background-color: $brand-orange;
  color: white;
  padding: 0px 30px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: all .3s ease-out;
  height: 38px;

  &:hover {
    transform: translateY(-2px);
    -webkit-box-shadow: 1px 0px 20px 0px rgba(75, 75, 75, 0.1);
    -moz-box-shadow: 1px 0px 20px 0px rgba(75, 75, 75, 0.1);
    box-shadow: 1px 0px 20px 0px rgba(75, 75, 75, 0.1);
  }
}

.file-input {
  position: relative;
  height: 60px;
}

.file-upload-value {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -10px;
  color: rgba(150, 150, 150, .7);
  display: block;
  margin: 0 auto;
  text-align: center;
}

.valid-input {
  label {
    border: 2px solid #73E2A7;
  }
}

.file {
  align-items: center;
  display: flex;
  justify-content: center;

  input {
    display: none;
  }

  label {
    background-color: $brand-orange;
    color: white;
    padding: 10px 30px;
    border-radius: 40px;
    cursor: pointer;
    transition: all .2s linear;

    abbr {
      display: none;
    }

    &:hover {
      background-color: lighten($brand-orange, 5%)
    }
  }
}

.pagination {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;

  span {
    padding: 0px 5px;
  }

  a {
    color: $dark-grey;

    &:hover {
      color: $medium-grey;
    }
  }

  .current {
    color: $brand-orange;
    font-weight: 700;
  }
}

.bold {
  font-weight: 700;
}

.social-share-button {
  display: none;
}

.socials-btns {
  i {
    cursor: pointer;
    color: rgba(30, 30, 30, 0.7);
    margin-left: 5px;
    font-size: 1.7em;
  }
}

// REFACTO NEEDED

.index-wrapper {
  display: flex;

  .filter-wrapper {
    width: 20%;
    top: 96px;
    height: calc(100% - 96px);
  }

  .articles-wrapper {

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

.container-custom {
  max-width: 1400px;
  margin: 0 auto;
}


// SIMPLE_FORM

.invalid-feedback {
  display: none !important;
}

#error_explanation {
  span {
    color: rgb(220, 52, 69);
  }
}
