@import "./rem";
@import "./variables";

// INDEX
.articles-wrapper {
  position: relative;
  padding: 50px 0px;
  transition: all .3s ease-out;

  h2 {
    line-height: 2rem;
    overflow: hidden;
    text-align: center;
    width: 100%;
  }

  h2:before,
  h2:after {
    background-color: rgba(0, 0, 0, .3);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  h2:before {
    right: 0.5em;
    margin-left: -50%;
  }

  h2:after {
    left: 0.5em;
    margin-right: -50%;
  }

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .content-right {
    padding: 0 rem(5px);
    margin-top: calc(1rem + 3px);

    div {
      margin: 0 auto;
    }

    div+div {
      margin-top: rem(5px);
    }

    .top-articles,
    .newsletter-block {
      min-height: 200px;
      padding: 10px 10px;

      .top-article {
        border-bottom: 1px solid rgba(150, 150, 150, .2);
        padding-bottom: 7px;
        margin-bottom: 5px;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }

    .top-articles {
      border-top: 2px solid rgb(0, 0, 0);
    }

    .newsletter-block {
      border: 1px solid rgba(0, 0, 0, .2);
      border-top: 2px solid rgb(212, 133, 133);
    }
  }
}

.shrink {
  padding-left: 300px !important;
}

.articles-container {
  .articles-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .4rem;

    .search {
      form {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .filter-wrapper {
    display: none !important;
  }
}

.filter-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  padding-top: 40px;
  background-color: white;

  .filter {
    width: 100%;
  }

  i {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 2em;
    color: rgba(100, 100, 100, 0.3);
    cursor: pointer;
  }

  .filter-form {
    padding: 0px 30px 30px 30px;
    width: 100%;

    h5 {
      margin-bottom: 10px;
    }

    .animals-filter {
      margin-bottom: 15px;

      .form-check {
        padding-left: 0px;

        label {
          padding: 30px;
          border-radius: 50%;
          border: 1px solid rgba(100, 100, 100, 0.1);
          position: relative;
          transition: all .2s ease-out;

          i {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;

            &::before {
              position: absolute;
              transform: translate(-50%, -50%);
              top: 50%;
              left: 50%;
            }
          }

          &:hover {
            border: 1px solid $brand-orange;
            -webkit-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);
          }
        }

        .label-active {
          background-color: $brand-orange;
          -webkit-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);

          i {
            color: white;
          }
        }
      }
    }

    .themes-filter {
      .form-check {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-left: 0px;

        .boolean {
          position: relative;
        }

        label {
          width: 100%;
        }

        label::before {
          content: '';
          display: block;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          right: -14px;
          width: 20px;
          height: 20px;
          border: 1px solid rgba(100, 100, 100, 0.1);
          border-radius: 100px;
          transition: background-color .2s;
          cursor: pointer;
        }

        .label-active::before {
          background-color: $brand-orange;
          -webkit-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);

          i {
            color: white;
          }
        }
      }
    }

    .tags-filter {
      .form-check-label {
        background-color: $brand-orange;
        border-radius: rem(4px);
        color: rgba(255, 255, 255, 1);
        padding: rem(2px) rem(6px);
      }

      .masonry-tags {
        display: flex;
        flex-flow: wrap;
        align-items: center;
      }

      .masonry-tags span {
        flex-grow: 1;
        width: auto;
        padding: 0px;
      }

      .masonry-tags .form-check {
        padding-left: 0px;
      }

      .masonry-tags .form-group {
        margin-bottom: 0.5rem;
      }

      .tag-active {
        background-color: darken($brand-orange, 10%)
      }
    }
  }
}

.filter-active {
  transform: translateX(0%);
  border-right: 1px solid rgba(200, 200, 200, 0.1);
  -webkit-box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.15);

  i {
    color: $brand-orange;
  }
}



// NEW / EDIT
#editor {
  height: calc(100% - 44px);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 1rem;
}

.ql-toolbar {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.btn+.btn {
  margin: 0 rem(10px);
}

.tag-content {
  background-color: rgb(212, 133, 133);
  border-radius: rem(4px);
  color: rgba(255, 255, 255, 1);
  margin: 0 rem(10px);
  padding: rem(2px) rem(6px);
}

.tag-remove {
  color: rgba(0, 0, 0, .3);
}

// SHOW

.article-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .article-headings {
    margin-bottom: 40px;

    h4 {
      font-weight: 400;
      font-size: 1.1rem;
    }
  }

  .article-status-info {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .author-infos {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      height: 75px;
      width: 75px;
      margin-right: 20px;
      object-fit: cover;
    }

    span {
      font-weight: 300;
      font-size: 1rem;
    }

    .author-name {
      font-weight: 400;
    }

    .created_at {
      font-size: .8rem;
    }
  }
}

.article-container {
  width: 60vw;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    width: 90vw;
  }
}

.article-body {
  margin-top: 50px;
  text-align: justify;
  font-size: 1.3rem;
  font-weight: 300;

  img {
    width: 100%;
  }
}

.ql-video {
  width: 100%;
  height: 600px;
}

.article-status {
  width: 120px;
  padding: 15px 30px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.draft {
  background-color: rgb(36, 41, 46);
  color: white;
}

.published {
  background-color: rgb(76, 185, 99);
  color: white;
}

.submitted {
  background-color: rgb(218, 173, 106);
  color: white;
}

.tag-list-item {
  background-color: $brand-orange;
  border-radius: rem(4px);
  color: rgba(255, 255, 255, 1);
  padding: rem(2px) rem(6px);

  &:first-child {
    margin-right: rem(10px);
  }

  &+& {
    margin: 0 rem(10px);
  }
}

.tags-and-socials {
  justify-content: space-between;

  a {
    font-size: 20px;
  }
}

.article-tags {
  align-items: center;
  justify-content: center;
}

// Right sidebar