.home-card {
  img {
    width: 100% !important;
    // height: 10rem !important;
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
}

.card-container {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.article-card-main {
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;

  img {
    border-top-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
    border-top-right-radius: 0px !important;
  }
}

.article-card {
  width: 100%;
  color: black;
  text-decoration: none;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  transition: all .3s ease-out;

  img {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    width: 100%;
    height: 13rem;
    object-fit: cover;
  }

  .card-desc {
    height: 150px;
    max-width: 13rem;
    padding: 12px;

    h4 {
      font-weight: 400;
      font-size: 1rem;
      margin: .5rem 0;
      text-decoration: none;
    }

    p {
      font-weight: 300;
      font-size: .9rem;
      text-decoration: none;
    }
  }

  &:hover {
    text-decoration: none;
    color: black;
    transform: translateY(-5px);

    h4 {
      text-decoration: none !important;
    }

    p {
      text-decoration: none !important;
    }
  }
}

.article-main-title {
  font-size: 24px !important;
}

.article-main-subtitle {
  font-size: 18px !important;
}

@media screen and (max-width: 767px) {
  .article-card-main {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .article-card-main {
    display: flex;
    justify-content: start;

    img {
      height: 15rem;
      width: calc(50% - .4rem);
    }

    h4,
    p {
      margin-left: .8rem !important;
    }
  }
}

.reco-card {
  // width: 300px;
  // height: 320px;
  color: black;
  text-decoration: none;
  width: 100%;

  img {
    width: 100%;
    height: 15rem;
    margin-bottom: 15px;
    object-fit: cover;
  }

  .card-desc {
    height: 100px;

    h4 {
      font-weight: 400;
      font-size: 1rem;
      margin: .2rem 0;
    }

    p {
      font-weight: 300;
      font-size: .9rem;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.card-container {
  padding: .4rem !important;
}

@media screen and (max-width: 767px) {
  .article-card-main {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .article-card-main {
    display: flex;
    justify-content: start;

    img {
      height: 15rem;
      width: calc(50% - .4rem);
    }

    h4,
    p {
      margin-left: .8rem !important;
    }
  }
}

.top-articles-title {
  text-align: center;
  margin: 1rem 0;
}

.ul-top-articles {
  list-style: none;
  padding-left: 0;

  li {
    padding: 1rem 0;
  }
}
