// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./variables";
@import "./rem";


// NEW
#init_card {
  label {
    margin: none !important;
    display: inline-block;
    border: 1px solid $brand-orange;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $brand-orange;
    font-size: rem(18px);
    font-weight: 600;
  }

  .label-active {
    background-color: rgb(241, 166, 106);
    -webkit-box-shadow: 0px 1px 12px 0px $light-grey;
    -moz-box-shadow: 0px 1px 12px 0px $light-grey;
    box-shadow: 0px 1px 12px 0px $light-grey;
    color: white;
  }

  .form-check {
    padding-left: 0px;
  }

  .specs-row,
  .ratings-row {
    font-size: rem(18px);
  }

  .rating {
    display: inline-block;
    position: relative;
    height: rem(20px);
    line-height: rem(20px);
    vertical-align: middle;
  }

  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }

  .rating label:last-child {
    position: static;
  }

  .rating label:nth-child(1) {
    z-index: 5;
  }

  .rating label:nth-child(2) {
    z-index: 4;
  }

  .rating label:nth-child(3) {
    z-index: 3;
  }

  .rating label:nth-child(4) {
    z-index: 2;
  }

  .rating label:nth-child(5) {
    z-index: 1;
  }

  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .rating label .icon {
    float: left;
    color: transparent;
  }

  .rating label:last-child .icon {
    color: $medium-grey;
  }

  .rating:not(:hover) label input:checked~.icon,
  .rating:hover label:hover input~.icon {
    color: $brand-orange;
  }

  .rating label input:focus:not(:checked)~.icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
  }
}

#new-card-submit {
  display: block;
  margin: auto;
}


// EDIT
.card-ratings {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .select {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  abbr {
    display: none;
  }
}

.required-input {
  border: 1px solid rgba(248, 87, 89, 0.5) !important;
}

.edit_card {
  .select2-selection {
    height: 38px !important;
    display: flex;
    align-items: center;
  }
}

// SHOW

.card-wrapper {

  a,
  a:hover {
    color: $brand-orange;
    text-decoration: none;
  }

  img {
    max-width: 100%;

    &.card-inside-thumbnail {
      float: left;
      margin: 0 rem(10px) rem(5px) 0;
      max-width: 40%;
    }
  }

  .card-content-body:before {
    background-color: $light-grey;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: top;
    width: 100%;
  }

  .card-specs-box {
    border: 1px solid $light-grey;
    color: $medium-grey;
    font-size: rem(14px);
    line-height: rem(42px);

    .rating,
    .spec {
      display: flex;
      justify-content: space-between;

      .stars {
        color: $brand-orange;
        font-weight: 700;
      }
    }
  }
}

// .card-specs-ratings {
//   border: 1px solid rgba(0, 0, 0, 0.1);

//   .rating {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }

//   .spec {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }
// }

// .card-wrapper {
//   padding-top: rem(100px);

//   .card-content {
//     .card-body {
//       border-top: 1px solid rgba(0, 0, 0, 0.1);

//       img {
//         max-width: 100%;
//       }
//     }
//   }
// }

// .br-widget a.br-active:after {
//   color: #FF9173 !important;
// }

// .br-widget a.br-selected:after {
//   color: #FF9173 !important;
// }
