// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// NEW
#new_card {
  .radio_buttons {
    display: flex;
    justify-content: space-between;
  }
  label {
    height: 150px;
    width: 200px;
    border: 1px solid rgb(241, 166, 106);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(241, 166, 106);
    font-size: 2em;
    font-weight: 600;
  }
  .label-active {
    background-color: rgb(241, 166, 106);
    -webkit-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);
    color: white;
  }
}

.edit_card {
  .select2-selection {
    height: 38px !important;
    display: flex;
    align-items: center;
  }
}


// EDIT
.card-ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .select {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  abbr {
    display: none;
  }
}

.required-input {
  border: 1px solid rgba(248, 87, 89, 0.5) !important;
}

// SHOW

.card-specs-ratings {
  width: 350px;
  .rating {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .spec {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.card-wrapper {
  padding-top: 100px;
  .card-content {
    display: flex;
    .card-body {
      width: 70%;
    }
  }
}

.br-widget a.br-active:after {
  color: #FF9173 !important;
}

.br-widget a.br-selected:after {
  color: #FF9173 !important;
}
