// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./variables";
@import "./rem";

// EDITEUR

.dashboard-header {
  position: relative;
  height: 350px;
  width: 100vw;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url("dashboard_banner.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  #nav-tab {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    bottom: 0;
    left: 50%;

    .nav-item {
      width: 200px;
      text-align: center;
      color: white;
      font-weight: 500;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .active {
      color: black;
    }
  }
}

.dashboard-filter {
  .form-group {
    margin-bottom: 0px !important;
  }

  .btn {
    width: 100%;
    background-color: $brand-orange !important;
    border-color: $brand-orange !important;
  }

  .col {
    padding-left: 0px;
  }
}

.dashboard-article-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(222, 226, 230);
  padding: 20px 0px;

  .top-star-on {
    color: $brand-orange !important;
    font-size: 1.8rem;
    position: absolute;
    top: 7px;
    left: -15px;
  }

  .top-star-off {
    color: rgb(245, 236, 242) !important;
    font-size: 1.8rem;
    position: absolute;
    top: 7px;
    left: -15px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    position: relative;
  }

  img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .artcile-infos {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-grow: 0;
    line-height: 2em;

    @media screen and (max-width: 767px) {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .article-status-info {
    position: relative;

    @media screen and (max-width: 767px) {
      position: absolute;
      transform: translateY(50%);
      top: 5px;
      left: 10px;
    }

    .status {
      position: absolute;
      transform: translate(-50%, -50%);
      top: -50px;
      left: 50%;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  .article-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;

    @media screen and (max-width: 767px) {
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
    }

    a {
      margin-bottom: 7px;
      color: $dark-grey;

      &:hover {
        text-decoration: none;
        color: $medium-grey;
      }
    }

    span {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      i {
        margin-right: 10px;
        color: $dark-grey;
      }
    }
  }
}

.user-card {
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .profile-avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .row {
    margin-top: 25px;
    width: 100%;
  }

  .user-data-column {
    display: flex;
    flex-direction: column;

    .data-block {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      .data-title {
        font-size: 1.2em;
        font-weight: 300;
      }

      .user-data {
        font-size: 1.6em;
        font-weight: 400;
      }
    }
  }
}

.new-row {
  align-items: center;
  display: flex;
  justify-content: center;

  .write-nav {
    background-color: $brand-orange;
    border: 1px solid $full-white;
    border-radius: rem(22px);
    color: $full-white;
    cursor: pointer;
    font-weight: 500;
    padding: rem(10px);
    width: rem(160px);
    margin: 0px 15px;

    a {
      color: $full-white;
      text-decoration: none;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      border: 1px solid $brand-orange;
      background-color: $full-white;
      color: $brand-orange;
      a {
        color: $brand-orange;
      }
    }
  }

  &.animals-row {
    margin-top: rem(20px);

    &.hidden {
      display: none !important;
    }
  }
}
