.main-nav {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
  background-color: white;
  h1 {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 30px;
  }
  .nav-right {
    display: flex;
    align-items: center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 30px;
    form {
      margin-right: 20px;
    }
    i {
      font-size: 1.6rem;
      margin-left: 10px;
    }
  }
  .nav-link {
    color: rgb(30, 30, 30);
    font-size: 1.1rem;
    margin-right: 10px;
    transition: all .2s ease-out;
    &:hover {
      color: rgb(241, 166, 106);
    }
  }
  .shop {
    border: 2px solid rgb(241, 166, 106);
    color: rgb(241, 166, 106);
    &:hover {
      background-color: rgb(241, 166, 106);
      color: white;
    }
  }
}
