<h1>Brands#show</h1>
<p>Find me in app/views/brands/show.html.erb</p>

<!--
###### BRAND DATA ######
@brand.name (string)
@brand.description (string)

@brand.logo (image)
@brand.banner (image)

@brand.animals (Array d'instances animal || ce sont les cibles de la marques)

###### LES PARAGRAPHES ######
@brand.title_1 (string)
@brand.paragraph_1 (text)
@brand.par_1_img (image)

@brand.title_2 (string)
@brand.paragraph_2 (text)
@brand.par_2_img (image)

@brand.title_3 (string)
@brand.paragraph_3 (text)
@brand.par_3_img (image)
-->
