<div class="dashboard-articles">
  <% articles.each do |article| %>
    <div id="article-<%= article.id %>">
      <%= render 'dashboards/dashboard_article_card', article: article %>
    </div>
  <% end %>
  <%= raw pagy_nav(@pagy_articles) %>
</div>
